@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-header{
  border-bottom:2px solid whitesmoke;
}
@media (max-width: 480px) {
  
}

.ant-card {
  /* border-radius: 10px; */
  overflow: hidden; /* Ensures the border-radius is applied to the card's content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow for depth */
}

/* .ant-input {
  border-radius: 8px; 
} */

.ant-picker-panels{
  display: block !important;
  width:280px !important
}

/* Table */
.ant-table{
  /* border-right: 1px solid #bae0ff; */
}
/* Set the border color for table header cells */


/* Set the border color for table body cells (rows and columns) */
/* .ant-table-tbody > tr > td {
  border: 1px solid #bae0ff;
} */
/* Optionally, you can also set border-radius for rounded corners */
.ant-table-container {
  border-radius: 8px; /* Set the border-radius for a rounded appearance */
}
/* Add a fixed height to the date picker dropdown */
.fixed-datepicker-dropdown .ant-picker-dropdown {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
}

/* Apply styles to the disabled input */
.ant-input[readonly] {
  background-color: #f5f5f5; /* Set a background color for disabled state */
  color: #999; /* Adjust the text color for better readability */
  cursor: not-allowed; /* Change cursor style to indicate non-interactivity */
  /* Add any additional styles as needed */
}

/* Optional: Style the placeholder text for better visibility */
.ant-input[readonly]::placeholder {
  color: #ccc;
}

.ant-input-number-input[readonly]{
 background-color: #f5f5f5; /* Set a background color for disabled state */
  color: #999; /* Adjust the text color for better readability */
  cursor: not-allowed; /* Change cursor style to indicate non-interactivity */
  /* Add any additional styles as needed */
}
.ant-input-number-input[readonly]::placeholder {
  color: #ccc;
}

.ant-btn-primary{
  background-color: #1890ff
}

@media print {

  @page {
    size: legal;
    margin: 1in; /* Increase the margin as needed */
  }

  #print-only {
    display: block;
  }
  #no-print {
    display: none;
  }
  .print-underline {
    display: block;
    page-break-after: always; /* Ensures each underline is on a new page when printing */
  }
}

.loginPage{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: rgba(255, 255, 255, 0.3) url('/bg.jpg');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  /* filter: blur(5px); */
}
.sessionTable{
  width: 100%;
}

.sessionTable  td {
  border: 1px solid #e5e7eb;
  padding: 5px;
  margin: 0;
  
}

.summaryTable {
  font-size: 12px;
}

.summaryTable td{

    width: calc(100% / 12);

}

.ant-transfer-list {
  width: 300px !important;
}

.ant-select-item-option-content {
  white-space: break-spaces;
  word-break: break-word;
  
}

.logout-button {
 
  text-align: center;
  color: #fff; /* White text color */
  cursor: pointer;
  margin-top:100;
  margin: auto;
}

.logout-button:hover {
  color: #1890ff; /* Change text color on hover */
}

.custom-button {
  background-color: #006400; /* Darker green background on hover */
  border-color: #006400; /* Darker green border on hover */
  color: white; /* Ensure text color stays white */
}
.custom-button:hover {
  background-color: #015001; /* Darker green background on hover */
  border-color: #015001; /* Darker green border on hover */
  color: white; /* Ensure text color stays white */
}
.custom-button:active, .custom-button:focus {
  background-color: #015001; /* Darker green background on hover */
  border-color: #015001; /* Darker green border on hover */
  color: white; /* Ensure text color stays white */
}
/* Login */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
 
}

.background-image {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  border-radius: 50px 0 0 0;
  box-shadow: 0 4px 8px #d2d3d2;
  /* #166534 */
  /* background-color: #575252; */
  /* border: 1px solid black */
}

.background-image img {
  width: 100%;
  height: auto;
}
/* end login */


.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
